[project]
	description = google repo source 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lyfan
[access "refs/for/refs/*"]
	read = group user/lyfan
	push = group user/lyfan
	label-Code-Review = -2..+2 group user/lyfan
	label-Verified = -1..+1 group user/lyfan
	rebase = group user/lyfan
	removeReviewer = group user/lyfan
	submit = group user/lyfan
[access "refs/heads/*"]
	read = group user/lyfan
	create = group user/lyfan
	push = +force group user/lyfan
	pushMerge = group user/lyfan
[access "refs/tags/*"]
	push = +force group user/lyfan
	pushTag = group user/lyfan
	pushSignedTag = group user/lyfan
